<settings>

  <servers>
    <server>
      <id>mjeed-mjti-artifact</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>mjeed-mjti-artifact</id>
      <name>mjeed-mjti-artifact</name>
      <url>https://mjeed-138913568231.d.codeartifact.us-east-1.amazonaws.com/maven/mjti-artifact/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>